._ {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.img {
  width: 5.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-size: 1.6rem;
  font-weight: 700;
}
